<launch>
  <rosparam command="load" file="$(find chef_robot_assistant)/config/robot_config.yaml" />

  <arg name="video_device" default="/dev/video0" />
  <arg name="image_width" default="640" />
  <arg name="image_height" default="480" />
  <arg name="fps" default="30.0" />
  <arg name="camera_frame_id" default="usb_cam" />
  <arg name="swap_rb_channels" default="true" />

  <include file="$(find usb_cam)/launch/usb_cam-test.launch">
  </include>

  <param name="/chef_robot_assistant/camera_topic" value="/usb_cam/image_raw" />

  <node
    pkg="chef_robot_assistant"
    type="interaction_manager.py"
    name="interaction_manager"
    output="screen"
  />

  <node
    pkg="chef_robot_assistant"
    type="vision_node.py"
    name="vision_node"
    output="screen"
  />

  <node
    pkg="chef_robot_assistant"
    type="speech_node.py"
    name="speech_node"
    output="screen"
  />

  <node
    pkg="chef_robot_assistant"
    type="recipe_node.py"
    name="recipe_node"
    output="screen"
  />

  <node
    pkg="chef_robot_assistant"
    type="media_node.py"
    name="media_node"
    output="screen"
  />
</launch>
